#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  font-family: sans-serif;
}

header {
  text-align: center;
}

#tribute-info {
  width: 60%;
  line-height: 2em;
}

#img-div {
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#img-caption {
  margin: 10px;
  word-wrap: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
